@font-face {
    font-family: 'worksans';
    src: url(/fonts/WorkSans-VariableFont_wght.ttf); 
}

body {
    font-family: 'worksans';
}

a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: darkred;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:active {
    color: blue;
}

a::after {
    content: ' [link]';
    text-decoration: none;
    font-weight: normal;
    color: darkgray;
}