@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(90deg, #45C4B0, #9AEBA3);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2e8175a2;
    width: 600px;
    padding: 15px;
    margin: auto;
}

h1 {
    color: #012030;
    text-align: center;
    text-shadow: 1px 1px 2px #011520ad;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: #13678A;
}

p {
    text-align: justify;
}